*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height: 100px;
    background-color: beige;
    text-align: center;
}
header h1{
    padding-top: 10px;
}
nav{
    margin-top: 20px;
}

a{
    text-decoration: none;
    margin: 0px 20px;
}
div{
    border: solid 1px black;
    width: 360px;
    height: 360px;
}
div img{
    width: 250px;
}